<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <title>Home</title>
</head>

<body>
    <% if(session.userid) { %>
        <%- include('partials/nav2'); %>
            <% } else{ %>
                <%- include('partials/nav'); %>
                    <% }%>
                        <!-- Carousel -->
                        <div id="demo" class="carousel slide m-2" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="0"
                                    class="active"></button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/tourBanners/Murree3Days.jpg" alt="Los Angeles" class="d-block"
                                        style="width:100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="/tourBanners/Swat4Days.jpg" alt="Chicago" class="d-block"
                                        style="width:100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="/tourBanners/Kalam5Days.jpg" alt="New York" class="d-block"
                                        style="width:100%">
                                </div>
                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon "
                                    style="background-color: rgba(0, 0, 0, 0.3);"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"
                                    style="background-color: rgba(0, 0, 0, 0.3);"></span>
                            </button>
                        </div>
                        <%- include('partials/aboutus'); %>
                            <% if(session.userid) { %>
                                <%- include('partials/footer2'); %>
                                    <% } else{ %>
                                        <%- include('partials/footer'); %>
                                            <% }%>
</body>

</html>