<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Tours</title>
</head>

<body>
    <% if(session.userid) { %>
        <%- include('../partials/nav2'); %>
            <% } else{ %>
                <%- include('../partials/nav'); %>
                    <% }%>
                        <%- include('../partials/searchBar'); %>
                            <div class="container mb-3">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <% data.forEach(function(tour_data){ %>
                                        <div class="col">
                                            <div class="card h-100 border-0">
                                                <a href="/tour/<%= tour_data.tourID %>">
                                                    <img src="/tourCards/<%= tour_data.tourImage %>"
                                                        class="card-img-top" alt="tourCard">
                                                </a>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                            <center>
                                <% if(title=='Movies' ) { %>
                                    <div class="clearfix">
                                        <div class="hint-text">
                                            Showing <b>
                                                <%= movies.length%>
                                            </b> out of
                                            <b>
                                                <%= movieCount%>
                                            </b> Tours
                                        </div>
                                        <div>
                                            <nav aria-label="...">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item <%=(page==1)?`disabled`:``%>">
                                                        <a class="page-link"
                                                            href="/?page=<%=(page==1)?`1`:`${page-1}`%>"
                                                            tabindex="-1">Previous</a>
                                                    </li>
                                                    <% for(let pageCount=1; pageCount<=totalPages; pageCount++){ %>
                                                        <%if(pageCount==page) {%>
                                                            <li class="page-item active">
                                                                <a class="page-link" href="#"
                                                                    style="background-color: green; border-color: green;">
                                                                    <%= pageCount%><span
                                                                            class="sr-only">(current)</span>
                                                                </a>
                                                            </li>
                                                            <%}else{%>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="/<%= view%>?page=<%=pageCount%>">
                                                                        <%= pageCount%>
                                                                    </a>
                                                                </li>
                                                                <%} }%>
                                                                    <li
                                                                        class="page-item <%=(page==totalPages)?`disabled`:``%>">
                                                                        <a class="page-link"
                                                                            href="/?page=<%=(page==totalPages)?`totalPages`:`${Number(page)+1}`%>">Next</a>
                                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <% } %>
                            </center>
                            <% if(session.userid) { %>
                                <%- include('../partials/footer2'); %>
                                    <% } else{ %>
                                        <%- include('../partials/footer'); %>
                                            <% }%>
</body>