<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Receipt</title>
</head>

<body>
    <h1>Order Receipt</h1>
    <div class="container">
        <h3>Tour Name: <%= tourName%>
        </h3>
        <h3>Tour City: <%=city %>
        </h3>
        <h5>Tour Description:<%=descrip %>
        </h5>
        <h5>Tour Inclusions:<%= incl%>
        </h5>
        <h5>Tour Hotels: <%= hotel %>
        </h5>
        <h5>Total Persons: <%= tpersons %>
        </h5>
        <h5>Customer's Address: <%= address %>
        </h5>
        <h5>Departure Date:<%= tdate %>
        </h5>
        <h5>Duration: <%= duration %> Days
        </h5>
        <h3>Total Bill: Rs <%= bill %>
        </h3>
        <br>
        <h4>Thanks For Choosing Baydaar Travels :)</h4>
    </div>
</body>

</html>